What do you understand by standardization?

If we don't standardize the data what will the problem occur?

What are the types of scaling?

What are the types of scalers we use in Machine Learning?

What is normalization?

Types of normalization.

How we normalize our data?

Difference between normalization and standardization?

How to fill missing values?

Q) If you have bad data means there are unwanted characters in your column, such as '>', '?', '=', etc. These character represents null values. What will you do to find all null values in the data?


* We can replace the unwanted characters with np.nan and then use the df.isnull() function to identify the null values in each column. 


* np.nan function replace unwanted characters with 'nan' means not a number, which indicates a null value.

Q) How to remove unwanted characters from column where values of column looks like 50,00,000.

# Remove unwanted characters
df['Column'] = df['Column'].str.replace(',', '')

# Convert column to numeric data type
df['Column'] = pd.to_numeric(df['Column'], errors='coerce')

1) The str.replace() function is used to remove the commas (,) and unwanted characters from the 'Column'. This is done by replacing the commas with an empty string '' here.


2) Next, the pd.to_numeric() function is used to convert the column to a numeric data type.


3) The errors='coerce' parameter handles any values that cannot be converted to numeric, such as non-numeric value and characters or missing values, by replacing them with NaN (Not a Number).