Q) What is SQL and it's use?


Q) What is MYSQL and it's use?


Q) Difference between SQL and MYSQL.


Q) You have a table which have 4 different columns, such as ID, Age, Marks, Country. Write a query in SQL to see that how many students belong to each country.

Q) In a table we have 2 columns, such as 'ID' and 'Name' and 'ID' columns contains mutliple duplicate values. Write a query in SQL to see the duplicate rows. 


Q) How to fetch unique records from a table in SQL?


Q) How to insert a new column in table?


Q) You have a 'Name' column in a table. Wite a SQL query to extract only those records where 'son' is present in 'Name' column.


Q) Write a SQL query to extract only that record which having the second highest salary?


Q) A table consits of columns 'Order_ID' and 'Order_Date'. Write a SQL query to extract only those records where more than 5 orders are place in a particular date.

Note:- We can not use * with GROUPBY